:root {

    /* Fuentes del proyecto */
    --fontPri: 'Signika', sans-serif;
    --fontSec: 'Permanent Marker', cursive;

    /* Colores del proyecto */
   --colorPri: #a2b0be; /* Gris */
   --colorSec: #f7d92e; /* Amarillo */
   --colorTer: #8550f5; /* Morado */
   --colorCua: #000000; /* Negro */
 
}

html {
   box-sizing: border-box; /* 1rem = 10px */
   font-size: 62.5%;
}

body {
   font-family: var(--fontPri);
   font-size: 1.6rem;
}

h1 {
   font-size: 3.2rem; 
}

h2 {
    font-size: 2.8rem; 
}

h3 {
    font-size: 2.4rem; 
}

h4 {
    font-size: 2rem ; 
}

a {
    text-decoration: None; 
}

img {
   max-with: 100%;
}
/* Globales */
.contenedor {
    max-width: 90%; 
    margin: 0 auto;
}

/* Apoyo */
.no-margin {
    margin: 0; 
}

.centrar-texto {
    text-align: center; 
}

/* Header */
.header {
    padding: 2rem;
    background-color: var(--colorSec);
}

.barra {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 10rem;
    color: var(--colorTer);
    font-family: var(--fontSec);
}

.logo__comp {
    font-size: 3rem;
    color: var(--colorCua);
    font-weight: bold;
}

.navegacion {
   display: flex; 
   justify-content: space-between;
}


.navegacion__enlace {
   padding: 0 1.5rem;
   color: var(--colorCua);
   font-weigh: 700;
}

/* Contenido */

.main {
    dispaly: flex;
    flex-direction: column;  

}

.entrada {
    display: flex;
    justify-content: space-evenly;    
    margin: 1rem;
}

.tarjeta__entrada__imagen {
    padding: 1rem; 
    background-color: var(--colorPri);
    border-radius: 2.5rem;
}

.entrada__imagen {
    max-width: 40rem; 
    max-heigh: 40rem;
    padding: 1rem;
    border-radius: 5em/5em;
}

.entrada__contenido {
    padding: 1rem;
    
}

.entrada__contenido__titulo {
   font-family: var(--fontSec); 
}

.entrada__contenido__texto {
    align-text: center;
}

/* Footer */
.footer {
   background-color: var(--colorCua);
   color: var(--colorPri);
}

.barra__footer {
   heigh: 10rem;
    
}
