:root {

    /* Fuentes del proyecto */
    --fontPri: 'Signika', sans-serif;
    --fontSec: 'Permanent Marker', cursive;

    /* Colores del proyecto */
   --colorPri: #F5F5F5; /* Gris claro */
   --colorSec: #000000; /* Negro */
   --colorTer: #ED4516; /* Naranja */
   --colorLeyenda: #B8B3B3 /*Gris oscuro*/
 
}

/* General */

html {
   box-sizing: border-box; /* 1rem = 10px */
   font-size: 62.5%;
}

body {
   font-family: var(--fontPri);
   font-size: 1.6rem;
}

h1 {
   font-size: 3.2rem; 
}

h2 {
    font-size: 2.8rem; 
}

h3 {
    font-size: 2.4rem; 
}

h4 {
    font-size: 2rem ; 
}

a {
    text-decoration: None; 
}

img {
   max-width: 100%;
}

/* Apoyo */

.contenedor {
    max-width: 90%; 
    margin: 0 auto;
}

.no-margin {
    margin: 0; 
}

.centrar-texto {
    text-align: center; 
}

/* Header */
.header {
    padding: 2rem;
    background-color: var(--colorPri);
}

.barra {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 10rem;
    color: var(--colorTer);
    font-family: var(--fontSec);
}

.redes__sociales {
   display: flex; 
   justify-content: space-between;
   
}

.redes__sociales__icono {
   padding: 0 1.5rem;
   color: var(--colorSec);
   font-weigh: 700;
   
}

.icono {
   height: 3rem;    
}


.navegacion {
   display: flex; 
   justify-content: space-between;
}


.navegacion__enlace {
   padding: 0 1.5rem;
   color: var(--colorSec);
   font-weigh: 700;
}

/* Contenido */

.main {
    dispaly: flex;
    flex-direction: column;  
    background-color: var(--colorPri);
}

.seccion {
   display: grid; 
   grid-template-columns: 1fr 1fr;
   padding-bottom: 3rem;
}

.tarjeta__columna {
    display: flex;
    flex-direction: column;    
}

.tarjeta__mensaje {
    text-align: left;
    justify-content: center;
    padding: 4rem;    
}

.tarjeta__botones {
   margin: 2rem; 
   display: flex;
   justify-content: space-evenly;
}

.boton {
   padding: 1rem;
   background-color: var(--colorSec);
   border: None;
   color: var(--colorPri);
    
}

.tarjeta__imagen {    
   display: flex;
   align-items: center;
   justify-content:center;
}

.imagen__rectangular {
   heigh: 80%;
   width: 60%; 

}

.titulo__color {
    color: var(--colorTer);
}

.footer {
   background-color: var(--colorPri);
   color: var(--colorSec);
}

.barra__footer {
   heigh: 10rem;
    
}

.leyenda__footer {
   color: var(--colorLeyenda); 
}
